* { margin: 0; padding: 0; }
body{
	direction: rtl;
	font-size: 12px;
	letter-spacing: 0.05em;
	line-height: 1.3;
	background: #FFF;
}
h3{
	margin-top: 10px;
}
#comments, #new_comment{
	width: 450px;
	margin: 0 auto;
}
#new_comment textarea{
	width: 450px;
	height: 200px;
}
#header {
	padding: 10px 0;	
	width: 926px;
	margin: 0 auto;
	border-bottom:1px solid #ccc;
	text-align: center;
}
.locale_link{
	float: left;
	width: 50px;
}
#container {
	width: 970px;
	min-height: 500px;
	margin: 0 auto;
	margin-top: 10px;
	overflow: hidden;
}
#mainbar {
	padding-right: 24px;
	width: 700px;
	float: right;
}
#mainbar ul{
	list-style: none;
}
#mainbar ul li{
	border-bottom:1px dotted #ccc;
	padding-top: 14px;
	padding-bottom: 7px;
}
#mainbar ul li h2{
	font-size: 14px;
}
#sidebar {
	padding-left: 20px;
	width: 200px;
	float: left;
}
#footer  {
	width: 926px;
	margin: 0 auto;
	padding: 10px 0px;
	letter-spacing: 0.1em;
	border-top: 1px solid #ccc;
	text-align: center;
}

.info{
	font-size: 10px;
	margin-bottom: 10px;
	margin-top: 0;
	padding-top: 2px;
}

form .row {
	margin-bottom: 10px;
}

input.text, textarea, select {
	width: 500px;
}

label {
	display: block;
	font-size: 11px;
	color: #666;
}