%h2
  =t :editing 
  =t "activerecord.models.post"
- form_for(:post, @post, post_path(:id => @post, :locale => I18n.locale)) do |f|
  = render :partial => f
  = f.submit t(:update)

= link_to t(:show), post_path(:id => @post, :locale => I18n.locale)
= link_to t(:back), posts_path(:locale => I18n.locale)
