%h2
  =t "activerecord.models.category"
  =t :new
- form_for(:category, @category, categories_path(:locale => I18n.locale)) do |f|
  = render :partial => f
  = f.submit t(:create)

= link_to t(:back), root_path